Contruindo listas

In [3]:
numeros = [1,8,5,3,-9,234,-23,42,34]
reais = [3.14, 0.0, 1.0, 2.71, -0.121212]
varios_strings = ["alkdjsfalks", "12341564789", "%#$$", "10/12/2035"]
print(numeros, '\n', varios_strings, '\n', reais)

[1, 8, 5, 3, -9, 234, -23, 42, 34]
 ['alkdjsfalks', '12341564789', '%#$$', '10/12/2035']
 [3.14, 0.0, 1.0, 2.71, -0.121212]

Listas vazias

In [7]:
lista_vazia1 = []
print(lista_vazia1)

[]

Criando listas com a função embutida `list()`

In [12]:
vazio = list()
lista_maluca = list((1, 0.0, 3.14, "texto aleatório", print, enumerate))
card_ranks = list("A123456789JQK")

In [13]:
print(vazio, '\n', lista_maluca, '\n', card_ranks)

[]
 [1, 0.0, 3.14, 'texto aleatório', <built-in function print>, <class 'enumerate'>]
 ['A', '1', '2', '3', '4', '5', '6', '7', '8', '9', 'J', 'Q', 'K']

Acessando elementos de uma lista

In [18]:
nomes = ['Marco', 'Ivonaldo', 'Leonardo', 'Márcio']
matriculas = [ 1042271, 1041703, 1040997, 18005491]

Usando o perador Operador `[]`

In [20]:
nomes[0]

('Marco', 1042271)

In [30]:
nomes[0], nomes[-1], nomes[1]

('Marco', 'Márcio', 'Ivonaldo')

In [31]:
(nomes[1:len(nomes)], 
 nomes[1:4], 
 nomes[1:])

(['Ivonaldo', 'Leonardo', 'Márcio'],
 ['Ivonaldo', 'Leonardo', 'Márcio'],
 ['Ivonaldo', 'Leonardo', 'Márcio'])

Descobrindo se existem elementos em uma lista

In [32]:
nomes

['Marco', 'Ivonaldo', 'Leonardo', 'Márcio']

Para descobrir se existe um elemento dentro de uma lista, podemos usar a cláusula `in`, de uma forma análoga ao que fizemos para descobri r se um string possui um caracter.

In [34]:
letras = 'abcd'
print('z' in letras)
print('a' in letras)

False
True

In [36]:
print(nomes)
print('Marco' in nomes)
print('João' in nomes)

['Marco', 'Ivonaldo', 'Leonardo', 'Márcio']
True
False

In [40]:
busca = 'Ivonaldo'
print(busca, 'está no índice', nomes.index(busca))

Ivonaldo está no índice 1

In [41]:
busca = 'Márcio'
print(busca, 'está no índice', nomes.index(busca))

Márcio está no índice 3

Agora queremos incluir novos elemento na lista.

- adição criando uma nova lista
- reatribuição

In [44]:
nomes = ['Marco', 'Ivonaldo', 'Leonardo', 'Márcio']

In [46]:
novos_nomes = nomes + ['Rutherford', 'Bohr']  # Adição de listas
print(nomes)
print(novos_nomes)

['Marco', 'Ivonaldo', 'Leonardo', 'Márcio']
['Marco', 'Ivonaldo', 'Leonardo', 'Márcio', 'Rutherford', 'Bohr']

Adicionar um elemento em uma lista com o método `append()`

In [54]:
nomes = ['Marco', 'Ivonaldo', 'Leonardo', 'Márcio']
nomes

['Marco', 'Ivonaldo', 'Leonardo', 'Márcio']

In [55]:
nomes.append('Rutherford')
nomes

['Marco', 'Ivonaldo', 'Leonardo', 'Márcio', 'Rutherford']

In [57]:
# erro
nomes.append('Fulano', 'ciclano')

TypeError: list.append() takes exactly one argument (2 given)

In [58]:
# erro
nomes.append(['Fulano', 'ciclano'])
nomes

['Marco',
 'Ivonaldo',
 'Leonardo',
 'Márcio',
 'Rutherford',
 ['Fulano', 'ciclano']]

In [60]:
# jeito certo
nomes = ['Marco', 'Ivonaldo', 'Leonardo', 'Márcio']
novos_nomes = ['Fulano', 'Ciclano']

for nome in novos_nomes: #'Maria', 'João':
    nomes.append(nome)

Apagando elementos em uma lista;

Duas estratégias:
1) Em uma posição conhecida;
2) O último;

Vamos começar pela primeira possibilidade, usando a palavra reservada `del`

In [68]:
nomes = ['Marco', 'Ivonaldo', 'Leonardo', 'Márcio', 'Fulano', 'Ciclano']

Quero retirar o Leonardo, sabendo a posição dele;

In [69]:
del nomes[2]

In [70]:
nomes

['Marco', 'Ivonaldo', 'Márcio', 'Fulano', 'Ciclano']

Se não souber a posição, vamos descobrir e depois retiramos;

In [71]:
nomes = ['Marco', 'Ivonaldo', 'Leonardo', 'Márcio', 'Fulano', 'Ciclano']
pos = nomes.index('Leonardo')
pos

2

In [72]:
del nomes[2]

In [73]:
nomes

['Marco', 'Ivonaldo', 'Márcio', 'Fulano', 'Ciclano']

Erros possíveis

In [74]:
del nomes[6]

IndexError: list assignment index out of range

Para a próxima estratégia vamos utilizar o método `pop()`.

In [76]:
nomes = ['Marco', 'Ivonaldo', 'Leonardo', 'Márcio', 'Fulano', 'Ciclano']

In [77]:
ultimo_nome = nomes.pop()

In [78]:
print('O último nome é:', ultimo_nome)
print(nomes)

O último nome é: Ciclano
['Marco', 'Ivonaldo', 'Leonardo', 'Márcio', 'Fulano']